@charset "UTF-8";
/* CSS Document */

#IMG2 {

	top:3.8vw;

	
}
#IMG4 {

	top:6.8vw;

}
#NAVILINE {
	margin-top:6vw;
}
#trendingicon {
	top:1.4vw;
	left:15px;
}
#favoricon {
	top:1.4vw;
	right:15px;
}
#latesticon {
	top:1vw;
}