@charset "utf-8";
/* CSS Document */

#sinon {
	top:340px;
	font-size:70px;
	right:10px;
}

#EXBUT2 {
	top:460px;
	right:75px;

}
#NAVTIT {
	position: relative;
	margin-left:auto;
	margin-right:auto;
}
#SMSMCONT {
	top:65px;
	position: relative;
	width:520px;
	margin-left:auto;
	margin-right:auto;
}
